<div side-nav class="sidebar-nav">
</div>
<div class="main-content">
	<section class="col-md-8 col-md-offset-2">
		<h2 class="page-header">
		  Songs
			<div class="pull-right">
        <a class="btn btn-primary" ui-sref="createSong">
          Add new song
        </a>
      </div>
      <div class="pull-right">
        <form class="navbar-form search-form" role="search" ng-submit="search($event, q)">
	        <div class="form-group">
	          <input type="search" 
	                id="search_q" 
	                name="q" 
	                ng-model="q"
	                class="form-control" 
	                placeholder="Search songs">

	          <button type="submit">
	            <i class="glyphicon glyphicon-search" style="font-size:20px;"></i>
	          </button>
	         </div>
	      </form>
	    </div>
		</h2>
		<div id="songs">
			<div class="query-string" ng-if="query">Showing results for {{query}}:</div>
		  <section class="songs">
		    <div song-item 
		      data-song="song" 
		      ng-repeat="song in songs">
		    </div>
		    <div ng-if="songs.length === 0">No song to display</div>
		  </section>
		</div>
	</section>
</div>