<div side-nav class="sidebar-nav">

</div>
<div class="main-content">
	
<!-- 		<h2 class="page-header">
		  Playlists -->
		
      <div class="pull-left" style="padding: 20px; width: 100%; box-shadow: 0 0 5px black;">
	     
	      <div class="pull-left">
	        <form class="navbar-form search-form" role="search" ng-submit="search($event, q)">
		        <div class="form-group">
		          <input type="search" 
		                id="search_q" 
		                name="q" 
		                ng-model="q"
		                class="form-control" 
		                placeholder="Search playlists">

		          <button type="submit">
		            <i class="glyphicon glyphicon-search" style="font-size:20px;"></i>
		          </button>
		         </div>
		      </form>
		    </div>
		    <a class="btn btn-primary" ui-sref="createPlaylist" style="width: 160px;">
		    <span class="glyphicon glyphicon-plus"></span>
	          New playlist
	        </a>
	    </div>
<!-- 	    TODO: fix these padding numbers
 -->	<div class="pull-left" style="padding-top: 20px; padding-left: 50px; width: 100%;">

		<div id="playlists">
			<div class="query-string" ng-if="query">Showing results for {{query}}:</div>
		  <section class="playlists">
		    <div playlist-item 
		      data-playlist="playlist" 
		      ng-repeat="playlist in playlists">
		    </div>
		   	<div ng-if="playlists.length === 0">No playlist to display</div>
		 </div>
		</div>
	</section>
</div>