<form class="form-horizontal" role="form" novalidate ng-submit="savePassword(credentials)">
	<div class="modal-header">
	  <h3 class="modal-title">
	    Change password
	  </h3>
	</div>

	<div class="modal-body">
		<div class="error">{{ password_error }}</div>
		<div class="form-group">
      <label for="password" class="control-label col-md-2">
        Old password
      </label>
      <div class="col-md-10">
        <input id="password" 
              name="password" 
              type="password" 
              class="form-control" 
              ng-model="credentials.password" 
              placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="control-label col-md-2">
        New password
      </label>
      <div class="col-md-10">
        <input id="password" 
              name="password" 
              type="password" 
              class="form-control" 
              ng-model="credentials.new_password" 
              placeholder="Password">
      </div>
    </div>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-dialog-submit" ng-click="closeModal()">
	    Cancel
	  </button>
	  <button type="submit" class="btn btn-dialog-submit" ng-disabled="!credentials.password || !credentials.new_password">
	    Save changes
	  </button>
	</div>
</form>