.btn-primary {
	background: #0abcad;
	color: #fff988;
	border: 0;
}

.btn-primary:hover {
	background: #138687;
	color: #fff988;
}

.btn-info {
	background: #03a9f4;
	color: #fff988;
	border: 0;
}

.btn-info.active:hover,
.btn-info.active:focus {
	background: #01579b;
	color: #fffef9;
	text-decoration: none !important;
	text-transform: none;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.active,
.btn-info:active {
	background: #0277bd;
	color: #fffef9;
	text-decoration: none !important;
	text-transform: none;
}

.btn-settings {
	float: right;
	max-width: 160px;
}