<ul ng-init="getUsername()">
	<li class="channel_menu">
		<div class="menu_title">CHANNEL</div>
		
		<div class="pull-left" style="padding-top: 50%; width: 100px">
			<ul class="submenu">
				<li ui-sref="playlists" ng-class="{'active':isActive('/playlists')}" style="height: 160px; margin-top: 100px;">
					<a><span class="glyphicon glyphicon-headphones" style="font-size: 2.0em;"></span> Playlists</a>
				</li>
				<li ui-sref="users" ng-class="{'active':isActive('/users')}" style="height: 160px;">
					<a><span class="glyphicon glyphicon-user" style="font-size: 2.0em;"></span> Users</a>
				</li>
			</ul>
		</div>
		
	</li>

	<li class="logout_menu">
		

		<ul class="submenu">
			<li ui-sref="viewUser({userId: currentUser.id})" ng-class="{'active':isActive('/users/'+currentUser.id)}">
				<a><span class="glyphicon glyphicon-home"></span></a>
			</li>
		</ul>

		<div class="user_fullname">{{currentUser.first_name}}</div>


		<div class="logout" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</div>
	</li>
</ul>