<a class="subitem col-md-3 col-sm-3 col-xs-3" ng-href="{{href}}">
  <div class="thumbnail_wrapper">
    <img ng-src="{{user.thumbnail}}" class="img-circle" style="margin-top: 34px; margin-left: 34px; border: none;"/>
  </div>
  <div class="info">
    <ul>
      <li>
        <strong class="user-title">
          {{ user.first_name }} {{ user.last_name }}
        </strong>
      </li>
      <li>
        <span class="username">
          {{ user.username }}
        </span>
      </li>
      <li>
        <span class="follower-count">
          {{ user.follower_count }} followers
        </span>
      </li>
      <li>
        <span class="follower-count">
          {{ user.following_count }} following
        </span>
      </li>
    </ul>
  </div>
</a>
